apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-frontend
  template:
    metadata:
      labels:
        app: angular-frontend
    spec:
      containers:
      - name: angular-frontend
        image: pavanambuskar/angular-frontend:v1
        ports:
        - containerPort: 80

